img {
  max-width: 800px;
  max-height: 700px;
  @media (max-width: 640px) {
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
}

div {
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

